@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    
    <center>

        <div class="log" style="max-width:400px">
            <img class="lap" src="~/img/logo antigua.png" style="width:100%">
        </div>
        <h1>Parqueos Antigua Guatemala</h1>
    </center>
    <p class="lead">Puedes Realizar lo siguiente</p>
    <div class="row">
        <div class="col-md-4">
            <h3>Registrar:</h3>
            <p><a href="http://localhost:55674/ubicacionmvc" class="btn btn-primary btn-lg">Ubicacion</a></p>
            <p><a href="http://localhost:55674/categoriamvc" class="btn btn-primary btn-lg">Categoria Autos</a></p>
            <p><a href="http://localhost:55674/catalogomvc" class="btn btn-primary btn-lg">Catalogo de Servicios</a></p>

        </div>
        <div class="col-md-4">
            <h3>Crear Registro:</h3>
            <p><a href="http://localhost:55674/conductormvc/create" class="btn btn-primary btn-lg">Registro de Usuarios</a></p>
            <p><a href="http://localhost:55674/parqueomvc/create" class="btn btn-primary btn-lg">Registro de Parqueo</a></p>
            <p><a href="http://localhost:55674/vehiculomvc/create" class="btn btn-primary btn-lg">Registro de Vehiculo</a></p>
        </div>
        <div class="col-md-4">
            <h3>Detalle de Informacion:</h3>

        </div> 
        </div>




    </div>
